.documents-grid-scroller {
    /*overflow: scroll;*/
    /*height: 100vh;*/
}

.documents-grid {
    display: grid;
    grid-template-columns: 500px 150px 100px 60px;
    --border-radius: 12px;
    --padding-x: 20px
}

.grid-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FCFCFC;
    color: var(--color-dark-grey);
    font-size: 12px;
    padding: 13px var(--padding-x);
}

.grid-header.grid-first-header-col {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.grid-header.grid-last-header-col {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.grid-entry {
    border-bottom: 1px solid var(--color-lightest-grey);
    padding: 24px var(--padding-x);
}
