.atlus-layout {
    display: grid;
    grid-template-rows: var(--atlus-header-height) calc(100vh - var(--atlus-header-height));
    @apply h-screen;
}

.atlus-layout-with-sidebar {
    grid-template-columns: 240px auto;
    grid-template-areas:
    'header header'
    'sidebar content';
}

.atlus-layout-no-sidebar {
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'content';
}

.atlus-header {
    grid-area: header;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.atlus-sidebar {
    grid-area: sidebar;
}

.atlus-content {
    grid-area: content;
    overflow: auto;
    @apply flex justify-start;
}
