.toggle {
    display: none;
}

#show:checked ~ .toggle {
    display: flex;
}

.show-less {
    display: none;
}

#show:not(:checked) ~ div label .show-more {
    display: flex;
}

#show:not(:checked) ~ div label .show-less {
    display: none;
}

#show:checked ~ div label .show-more {
    display: none;
}

#show:checked ~ div label .show-less {
    display: flex;
}
