.show-more-cells {
  display: none !important;
}

#show:checked ~ .show-more-cells {
  display: flex !important;
}

.show-less {
  display: none !important;
}

#show:not(:checked) ~ div label .show-more {
  display: flex !important;
}

#show:not(:checked) ~ div label .show-less {
  display: none !important;
}

#show:checked ~ div label .show-more {
  display: none !important;
}

#show:checked ~ div label .show-less {
  display: flex !important;
}
