@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Colors */
    --color-orange: #ef503a;
    --color-peach: #ffd7ba;
    --color-off-white: #fff7f2;
    --color-white: #ffffff;
    --color-soft-black: #161616;
    --color-black: #000000;
    --color-red: #e4284a;
    --color-lightest-grey: #f5f5f5;
    --color-light-grey-2: #fcfcfc;
    --color-light-grey: #dfdfdf;
    --color-middle-grey: #a4a2a0;
    --color-dark-grey: #605b56;
    --color-dark-cyan: #0e7580;
    --color-green: #1ca843;

    /* Button */
    --atlus-button-outline-hover: #fcfcfc;
    --atlus-button-outline-active: #f5f5f5;

    /* Header */
    --atlus-header-height: 60px;
    @media screen(md) {
        --atlus-header-height: 80px;
    }

    --atlus-layout-bg-color: #ffffff;
}

html,
body {
    height: 100%;
    background: var(--color-white);
}

body:has([data-prevent-scoll='true']) {
    overflow: hidden;
}

body.ReactModal__Body--open {
    overflow: hidden;
}

.word-break-break-word {
    word-break: break-word;
}


