@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Colors */
    --color-orange: #EF503A;
    --color-peach: #FFD7BA;
    --color-off-white: #FFF7F2;
    --color-white: #FFFFFF;
    --color-soft-black: #161616;
    --color-red: #E4284A;
    --color-lightest-grey: #F5F5F5;
    --color-light-grey: #DFDFDF;
    --color-middle-grey: #A4A2A0;
    --color-dark-grey: #605B56;
}


html, body {
    height: 100%;
    background: var(--color-white);
}
